@use "base";
@use "components";/* funkade inte utan @import */
@import "components";

* {
    margin: 0;
}

body {
    background-color: white;
    font-family: base.$font-family;
}

header {
    background-color: base.$color-primary;
    color: white;
}

.main-menu  {
    list-style-type: none;
    display: flex;
    height: 70px;
    margin-left: 1%;
    margin-right: auto;
}

.main-menu li {
    margin-top: 22px;
    padding: 5px;
    padding-top: 15px;
    text-align: center;
    width: 7em;
    background-color: base.$color-primary;  
    font-weight: 600;
}

.main-menu li:hover {
    background-color: base.$color-secondary;
}

#current-page {
    background-color: white;
    color: black;
}

#current-page:hover {
    background-color: white;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}





//STARTSIDA
h1 {
    background-color: white;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    text-align: center;
}

#container {
    @include main-mobile;
}

#container article {
    @include main-contents-mobile;
    line-height: 1.3em;
}

#container article h2 {
    margin-bottom: 0.7em;
}

#container article h3 {
    font-weight: 500;
    font-size: 1.1em;
    margin-top: 0.6em;
}




//FORMULÄR-SIDA
.main-form {
   @include main-mobile;
}

main form {
    @include main-contents-mobile;
    text-align: center;
    line-height: 1.6em;
}

main form h2 {
    margin-bottom: 1em;
}

form input {
    margin-bottom: 1.3em;
    width: 13em;
    height: 2em;
}

form input value {
    color: gray;
}

.add-job {
    @include button(base.$color-primary);
}

.add-job:hover {
    background-color: base.$color-secondary;
    cursor: pointer;
}

aside {
    display: none;
}



footer {
    background-color: base.$color-primary;
    padding: 5%;
    text-align: center;
    margin-top: 8%;
    color: white;
}

//tablet 
@media (min-width: 600px) {
    
    // body {
    //     background-color: aqua;
    // }

    .main-menu {
        margin-left: 22%;
        margin-right: auto;
    }


    h1 {
        text-align: center;
        margin-top: 1.5em;
    }

    #container {
        max-width: 50%;
        margin-top: 1.5em;
    }

    main h1 {
        margin-left: 0%;
    }

    .main-form {
        max-width: 100%;
        margin-top: 1.5em;
        margin-left: 5%;
        display: flex;
        gap: 5%;
    }

    main form {
        text-align: left;
        max-width: 50%;
        flex: 2;
    }

    main form h2 {
        margin-top: -10%;;
    }

    form input {
        width: 96%;
    }

    aside {
        @include main-contents-mobile;
        display: inline-block;
        padding: 5%;
        max-width: 20%;
        line-height: 1.6em;
        //background-color: base.$color-primary-ligher;
        margin-right: 5%;
        flex: 1;
    }

    aside ul {
        margin-top: 1.2em;
        margin-left: -1em;
    }


}


//desktop
@media (min-width: 1024px) {
    
    // body {
    //     background-color: rebeccapurple;
    // }

    .main-menu {
        margin-left: 2.2%;
    }

    h1 {
        text-align: unset;
        margin-left: 0.5%;
        margin-right: 0;
        margin-bottom: -0.7em;
        padding-left: 5%;
    }
    
    #container {
        margin-left: 5%;
        max-width: 80%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    #container article {
        padding: 5%;
        margin: 10%;
        margin-left: -4%;
        margin-bottom: 6%;
        width: 30%;
        margin-top: 1%;
    }

    .main-form {
        margin-bottom: 1.5em;
    }

    main form {
        padding: 9%;
        padding-left: 6%;
    }

    footer {
        padding: 1.5%;
        margin-top: 0em;
    }

}


// @media (min-width:1460px) {

//     body {
//         background-color: chocolate;
//     }
// }